Source: bbb-plugin-picture-in-picture
Section: web
Priority: extra
Maintainer: Anton Georgiev <anton.georgiev@blindsidenetworks.com>
Build-Depends: debhelper (>= 13), nodejs (>= 18)
Standards-Version: 4.1.4
Homepage: https://github.com/bigbluebutton/bbb-plugin-picture-in-picture

Package: bbb-plugin-picture-in-picture
Architecture: all
Depends: ${misc:Depends}, nodejs
Description: Picture-in-picture window for BigBlueButton
 An official BigBlueButton plugin that starts up a
 picture-in-picture window with webcams and screen
 sharing in the session.
